body {
    padding: 0; 
    margin: 0;
    width: 100vw;
    height: 100vh;
}
#savePanel {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container {
    display:flex;
    flex-direction: row;
}

.toolbox {
    flex: 1;
    background-color: lightgray;
    flex-direction: column;
    padding: 10px;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 5px;
}

.control > * {
    margin-left: 15px;
}




